<div class="container">
  <div class="container__form">
    <ul>
      <li *ngFor="let estimation of data">
        <div>
          <span
            class="container__form__feature"
            (click)="loadDetail(estimation.feature)"
            >{{ estimation.feature }}:</span
          >
          <input
            class="container__form__input"
            appearance="outline"
            matInput
            [(ngModel)]="estimation.initialEstimated"
          />
        </div>
      </li>
    </ul>

    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="refreshChart(true)"
    >
      <mat-icon>refresh</mat-icon>
      Recalcular
    </button>
  </div>

  <div class="container__chart card">
    <app-bar-chart
      *ngIf="dataset() as dataset"
      title="Comparación con estimación inicial"
      [data]="dataset"
    ></app-bar-chart>
  </div>
</div>
<div class="detail" *ngIf="showDetail() && detail() as detail">
  <app-detail (handleClose)="closeDetail()" [data]="detail"></app-detail>
</div>
