<div class="header">
  <div style="display: flex; column-gap: 16px">
    <input
      hidden
      type="file"
      class="file-input"
      (change)="fileSelected($event.target)"
      #fileImported
    />
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="fileImported.click()"
    >
      <mat-icon *ngIf="!isImported()">cloud_upload</mat-icon>
      <mat-icon *ngIf="isImported()">cloud_done</mat-icon>
      Importar backlog
    </button>
    <button
      type="button"
      color="secondary"
      mat-raised-button
      (click)="downloadTemplate()"
    >
      <mat-icon *ngIf="!isImported()">cloud_download</mat-icon>
      Descargar plantilla
    </button>
  </div>
  <button mat-button color="primary" [routerLink]="'setup'">
    Configuración
  </button>
</div>
<ng-container *ngIf="isImported() && report() as report">
  <div class="container">
    <div class="container__tables">
      <app-backlog
        [data]="report.backlog"
        (selectCell)="loadDetail($event.item, $event.property)"
      ></app-backlog>
      <div class="container__tables__efficiency">
        <app-project
          class="container__tables__efficiency__project"
          [data]="report.project"
          (selectCell)="loadDetail($event.item, $event.property)"
        ></app-project>
        <app-team
          [data]="report.team"
          (selectCell)="loadDetail($event.item, $event.property)"
        ></app-team>
      </div>
    </div>

    <div class="container__detail" *ngIf="showDetail() && detail() as detail">
      <app-detail (close)="closeDetail()" [data]="detail"></app-detail>
    </div>

    <mat-expansion-panel class="container__collapsable">
      <mat-expansion-panel-header>
        <mat-panel-title> Gráficas </mat-panel-title>
        <mat-panel-description>
          Revisa de forma visual el estado del backlog y el equipo
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="charts">
        <app-backlog-charts
          class="card"
          [data]="report.backlog"
        ></app-backlog-charts>
        <app-team-tasks class="card" [data]="report.team"></app-team-tasks>
        <app-features-sprint
          class="card"
          style="width: 100%"
          [data]="report.backlog"
        ></app-features-sprint>
      </div>
      <app-team-features
        style="width: 100%"
        [data]="report.team"
      ></app-team-features>
    </mat-expansion-panel>
  </div>
</ng-container>
