.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.container {
  padding: 16px;
  &__tables {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    column-gap: 16px;
    &__efficiency {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      &__project {
        width: 320px;
        align-self: flex-end;
      }
    }
  }

  &__detail {
    padding: 16px;
  }

  &__collapsable {
    margin: 16px;
    .charts {
      padding: 16px 0;
      display: flex;
      column-gap: 16px;
    }
  }
}

@supports (-ms-ime-align: auto) {
  .container__collapsable {
    .charts {
      padding-right: 16px;
    }
  }
}
