<div class="header">
  <div>
    <input
      hidden
      type="file"
      class="file-input"
      (change)="fileSelected($event.target)"
      #fileImported
    />
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="fileImported.click()"
    >
      <mat-icon *ngIf="!isImported()">cloud_upload</mat-icon>
      <mat-icon *ngIf="isImported()">cloud_done</mat-icon>
      Importar backlog
    </button>
  </div>
  <button mat-button color="primary" [routerLink]="'setup'">
    Configuración
  </button>
</div>
<div class="container" *ngIf="isImported() && report() as report">
  <app-backlog
    [data]="report.backlog"
    (selectCell)="loadDetail($event.item, $event.property)"
  ></app-backlog>
  <div class="container__eficiency">
    <app-project
      class="container__eficiency__project"
      [data]="report.project"
      (selectCell)="loadDetail($event.item, $event.property)"
    ></app-project>
    <app-team [data]="report.team" (selectCell)="loadDetail($event.item, $event.property)"></app-team>
  </div>
</div>

<div class="detail">
  <app-detail
    *ngIf="showDetail() && detail() as detail"
    [data]="detail"
  ></app-detail>
</div>
