.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: flex-start;
  .container__header {
    display: flex;
  }

  .container__body {
    display: flex;
    flex-direction: column;
    column-gap: 16px;

    &__form {
      align-self: flex-start;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      max-width: 800px;
      mat-slide-toggle {
        align-self: center;
        margin-bottom: 24px;
      }
    }
  }
}
