<table mat-table [dataSource]="data.rows">
  <caption>
    {{
      data.name
    }}
  </caption>
  <ng-container *ngFor="let header of data.headers">
    <ng-container [matColumnDef]="header.value">
      <th mat-header-cell *matHeaderCellDef [matTooltip]="header.tooltip" matTooltipPosition="above">
        {{ header.text }}
      </th>
      <td
        mat-cell
        *matCellDef="let item"
        class="table__rows {{ item[header.value].class }}"
        [ngClass]="{ selectable: item[header.value]?.value !== undefined && item[header.value]?.value.length > 0 }"
        (click)="selectData(item, header.value)"
      >
        <div>
          <span>{{ item[header.value].text | appData : header.type }}</span>
        </div>
      </td>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="headersNames; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: headersNames"></tr>
</table>
<app-line-chart *ngIf="hoursHistoric() as hoursHistoric" title="Comparación de horas estimadas, inveridas y restantes" [data]="hoursHistoric"></app-line-chart>
