/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.need_work {
  background-color: #ffc7ce !important;
  color: #9c0006 !important;
}
.done {
  background-color: #c6efce !important;
  color: #006100 !important;
}
.right {
  text-align: right !important;
}

.selectable {
  cursor: pointer;
  &:hover {
    background-color: lightblue !important;
  }
}

table {
  border-collapse: collapse !important;
  caption {
    padding: 8px;
    font-weight: 500;
    background-color: #c6e0b4 !important;
    border-radius: 5px 5px 0 0 !important;
  }
  tr {
    &:hover {
      background-color: lightgoldenrodyellow;
    }
    th {
      font-weight: 500;
      background-color: #e2efda !important;
      text-align: center !important;
    }
    td {
      border-left: 1px solid lightgrey !important;
      &:last-of-type {
        border-right: 1px solid lightgrey !important;
      }
      a {
        width: 100%;
        display: block;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid lightgrey !important;
    }
  }
}

.mat-button-toggle-checked {
  background-color: #3f51b5; // set the wanted color
  color: white;
}
.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: white;
}

#toast-container > .toast-warning:before {
  background-color: #3f96fd !important;
  color: black !important;
}

#toast-container > .toast-success {
  //background-image: none !important;
  background-color: #41cc4f !important;
  color: white !important;
  width: 40% !important;
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
}

#toast-container > .toast-success:before {
  background-color: #41cc4f !important;
  color: white !important;
}

#toast-container > .toast-error {
  background-color: #f95959 !important;
  color: white !important;
  width: 40% !important;
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.expansion-overrides(
    (
      container-background-color: #e2efda,
      // container-text-color: red,
    )
  );
}

.card {
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}
